.header {
  display: flex;
  align-items: center;
  color: #000;
  height: 90px;

  .logo {
    color: #000;
    text-decoration: none;
    display: flex;
    margin-right: auto;
    margin-left: 30px;
    align-content: center;
    align-items: center;
  }

  .left-menu {
    display: flex;
    margin-left: auto;
  }
}
