.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto
}

.header .carrinho {
    color: #fff;
}

/* .header .top-menu {
    float: left;
    display: inherit;
    justify-content: center;
    align-self: center;
} */

.header .logo{
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}