<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let prod of produtos">
    <mat-card class="produto-card">
      <mat-card-header>
        <div mat-card-avatar class="produto-header-image"></div>
        <mat-card-title>{{ prod.nome }}</mat-card-title>
        <mat-card-subtitle>{{ prod.nome }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ prod.imgUrl }}"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
            {{ prod.descricao }} 
        </p>
        <h3>Preço: {{ prod.preco | currency: 'BRL' }} - {{ prod.unidade }}</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="comprar(prod.id)">Comprar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
