.grid {
  padding-bottom: 200px;
}

.produto-card {
  max-width: 400px;
  padding: 40px;
  cursor: pointer;

  .titulo {
    font-size: 30px;
    margin-bottom: 15px !important;
  }

  .preco-unidade {
 
    display: flex;
    flex-direction: row;
   
    
    h3 {
      font-size: 40px;
      font-weight: bold;
    }

  }
 

}

.produto-card:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) !important;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) !important;
}

.produto-header-image {
  background-image: url("https://i.ibb.co/fHGH4YY/1078.png");
  background-size: cover;
}
