<div class="container">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title class="title">Comprar {{ produto.nome }}</mat-card-title>
    </mat-card-header>
    <div>
      <img class="mat-elevation-z1"
      mat-card-image
      src="{{ produto.imgUrl }}"
      alt="Photo of a Shiba Inu"
    />
    </div>
    <mat-card-content class="content">
      <p>
        {{ produto.descricao }}
      </p>
    </mat-card-content>
    <div class="preco">
      <h1>Preço: {{ produto.preco | currency: 'BRL' }}  </h1>
    </div>
    <mat-card-actions class="actions">
         <mat-form-field class="quantidade-field">
          <mat-label>Quantidade</mat-label>
          <input matInput placeholder="Ex. 1" [(ngModel)]="quantidade" [value]="quantidade">
        </mat-form-field>
      <form class="quantidade-form">
      </form>
      <button mat-raised-button color="primary" (click)="adicionarCarrinho(produto.id)">
        ADICIONAR AO CARRINHO 
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
