<div class="container">
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <mat-card class="card">
    <form class="form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="bruno@bruno" value=''/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password" matInput />
      </mat-form-field>
      <button mat-raised-button color="primary" class="item">Logar</button>
      <a class="link" href="">Não possui conta? Cadastre-se Aqui!</a>
    </form>
  </mat-card>
</div>
