.container {
  margin-bottom: 200px;

  .card {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .title {
      font-size: 4em;
      padding: 20px;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
    }

    .items {
      display: flex;
      justify-content: center;

      .form {
        display: flex;
        flex-direction: column;
        width: 400px;
        max-width: 100%;
        padding: 100px;
      }

      .list {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 100px;
      }

    }

    h1 {
      display: flex;
      align-self: center;
      justify-content: center;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    
  }
}
